<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card" [class.card-load]="loggingIn$ | async">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-3">{{ appName }}</h4>
            <span class="f-20">Sign In</span>
            <button class="btn btn-block btn-primary mt-3" (click)="signIn()">Sign In With Google</button>
            <app-alert [dismiss]="true" [type]="'danger'" *ngIf="(errors$ | async)?.length">
                <span *ngFor="let error of errors$ | async; let first = first;" [class.mt-1]="!first">
                  {{error}}
                </span>
            </app-alert>
            <div class="card-loader" *ngIf="loggingIn$ | async"><i class="pct-loader1 anim-rotate"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
